<h1>Bindings Examples !</h1>
<h2>{{ title }}</h2>

<!-- tring interpolation || works for both way (dom to component and component to dom) -->
<img src="{{ imageUrl}}" alt="...">

<!-- property binding  || works only one way  (component to dom) --> 
<img [src]="imageUrl" alt=""> 


<table>
  <tr>
    <td [attr.colspan]="colspan"></td>
  </tr>
</table>

<input (keyup)="onKeyup($event)"> <!-- property old way envent filter  --> 
<input (keyup.enter)="onKeyupNew($event)"> <!-- property binding  angular way event filter -->
<input #email (keyup.enter)="onKeyupNew1(email.value)"> <!--  template variable -->

<input [(ngModel)]="userEmail" (keyup.enter)="onKeyupNew2()"> <!--  two way binding -->


<div (click)="onDivClicked()">
  <button 
  class="btn btn-primary" 
  [class.active]="isActive"
  [style.backgroundColor]="isActive ? 'blue' : 'white'"
  (click)="onSave($event)"
  >Save</button>
</div>


<div class="container">
  {{course.title | uppercase}} <br/>
  {{course.students | number }} <br/>
  {{course.rating | number:'1.2-2'}} <br/>
  {{course.price | currency:'INR':true:'3.2-2' }} <br/>
  {{course.releaseDate | date:'shortDate'}} <br/>
  {{text | summary:10 }}
</div>

<div>
  <favorite [is-favorite]="isFavorite" (chnage)="isFavoriteChange($event)"></favorite>
</div>

<div>
  <title-case></title-case>
</div>