<div [hidden]="courses.length ==0">
  <h2>{{ title }}</h2>
  <ul>
    <li *ngFor="let course of courses">
      {{ course }}
    </li>
  </ul>
</div>
<div [hidden]="courses.length > 0">
  Not courses yet.
</div>

<ul class="nav nav-pills">
   <li [class.active]="viewMode== 'map'"> <a (click)="viewMode='map'">MapView</a></li>
   <li [class.active]="viewMode== 'list'"><a (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map view content</div>
  <div *ngSwitchCase="'list'">List view content</div>
  <div *ngSwitchDefault>otherwise</div>
</div>

<div>
  <ul>
    <li *ngFor="let computerCourse of computerCourses; index as i">
      {{ i }} - {{ computerCourse.name }}
    </li>
  </ul>
</div>
<div>
  <ul>
    <li *ngFor="let computerCourse of computerCourses; even as isEven">
      {{ computerCourse.name }} <span *ngIf="isEven">(EVEN)</span>
    </li>
  </ul>
</div>