<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input ngModel #courseName="ngModel" required minlength="5" name="courseName" type="text" class="form-control" id="courseName"/>
    <div *ngIf="courseName.touched && !courseName.valid">
      <div *ngIf="courseName.errors.required" class="alert alert-danger">
        Course name is required.
      </div>
      <div *ngIf="courseName.errors.minlength" class="alert alert-danger">
        Course name should be minimum {{courseName.errors.minlength.requiredLength}} charcter long.
      </div>
    </div>
  </div> 
  <div class="form-group">
    <label for="catagory">Catagory</label>
    <select required ngModel #catagory="ngModel" name="catagory" id="catagory" class="form-control">
      <option value=""></option>
      <option *ngFor ="let catagory of catagories" [value]="catagory.id">
        {{ catagory.name }}
      </option>
    </select>    
    <div class="alert alert-danger" *ngIf="catagory.touched && catagory.invalid">
      Catagory filed is required.
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribe"> 30-days money back gurantee
    </label>
  </div>
   <p>
     {{ f.value | json}}
   </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>