<h1>Angular</h1>
 <!-- <courses></courses>  -->
<!-- <author></author>  -->
 <!-- <app-bindings></app-bindings>    -->
<!-- 

<bootstrap-panel>
    <ng-container class="heading">
        Heading of the panel
    </ng-container>
    <ng-container class="body">
        <h2>Body</h2>
        <p>Some content..</p>
    </ng-container>
</bootstrap-panel> -->

<!-- <app-like [total-likes]="tweets.totalLikes" [liked]="true"></app-like> -->

<!-- <zippy title="Shpiing Details">
    Shpiing Details content
</zippy>
<zippy title="Billing Details">
    Billing Details content
</zippy> -->
<!-- <contact-form></contact-form> -->

<!-- <udemy-course></udemy-course> -->

<!-- <signup-form></signup-form> -->

<!-- <new-course-form></new-course-form> -->

<change-password></change-password>