<i 
  class="glyphicon"
  [class.glyphicon-star-empty]="!isFavorite"
  [class.glyphicon-star]="isFavorite"
  (click)="onClick()"
  >
</i>

<i 
  class="glyphicon"
  [ngClass]="{
    'glyphicon-star':isFavorite,
    'glyphicon-star-empty':!isFavorite
  }"
  (click)="onClick()"
  >
</i>

<button
  [style.backgroundColor]="canSave ? 'blue' : 'red'"
  [style.color]="canSave ? 'white' : 'black' "
  [style.fontWeight] = "canSave ? 'bold' : 'normal' "
  >
  Save
</button>

<button
  [ngStyle]="{
      'backgroundColor' : canSave ? 'blue' : 'red',
      'color' :  canSave ? 'white' : 'black',
      'fontWeight' : canSave ? 'bold' : 'normal'
  }"
  >
  Save style
</button>